
database/mysql/auto.cnf
database/mysql/DESKTOP-AGACNQI.err
database/mysql/ib_buffer_pool
database/mysql/ib_logfile0
database/mysql/ib_logfile1
database/mysql/ibdata1
database/mysql/mysql/columns_priv.frm
database/mysql/mysql/columns_priv.MYD
database/mysql/mysql/columns_priv.MYI
database/mysql/mysql/db.frm
database/mysql/mysql/db.MYD
database/mysql/mysql/db.MYI
database/mysql/mysql/db.opt
database/mysql/mysql/engine_cost.frm
database/mysql/mysql/engine_cost.ibd
database/mysql/mysql/event.frm
database/mysql/mysql/event.MYD
database/mysql/mysql/event.MYI
database/mysql/mysql/func.frm
database/mysql/mysql/func.MYD
database/mysql/mysql/func.MYI
database/mysql/mysql/general_log.CSM
database/mysql/mysql/general_log.CSV
database/mysql/mysql/general_log.frm
database/mysql/mysql/gtid_executed.frm
database/mysql/mysql/gtid_executed.ibd
database/mysql/mysql/help_category.frm
database/mysql/mysql/help_category.ibd
database/mysql/mysql/help_keyword.frm
database/mysql/mysql/help_keyword.ibd
database/mysql/mysql/help_relation.frm
database/mysql/mysql/help_relation.ibd
database/mysql/mysql/help_topic.frm
database/mysql/mysql/help_topic.ibd
database/mysql/mysql/innodb_index_stats.frm
database/mysql/mysql/innodb_index_stats.ibd
database/mysql/mysql/innodb_table_stats.frm
database/mysql/mysql/innodb_table_stats.ibd
database/mysql/mysql/ndb_binlog_index.frm
database/mysql/mysql/ndb_binlog_index.MYD
database/mysql/mysql/ndb_binlog_index.MYI
database/mysql/mysql/plugin.frm
database/mysql/mysql/plugin.ibd
database/mysql/mysql/proc.frm
database/mysql/mysql/proc.MYD
database/mysql/mysql/proc.MYI
database/mysql/mysql/procs_priv.frm
database/mysql/mysql/procs_priv.MYD
database/mysql/mysql/procs_priv.MYI
database/mysql/mysql/proxies_priv.frm
database/mysql/mysql/proxies_priv.MYD
database/mysql/mysql/proxies_priv.MYI
database/mysql/mysql/server_cost.frm
database/mysql/mysql/server_cost.ibd
database/mysql/mysql/servers.frm
database/mysql/mysql/servers.ibd
database/mysql/mysql/slave_master_info.frm
database/mysql/mysql/slave_master_info.ibd
database/mysql/mysql/slave_relay_log_info.frm
database/mysql/mysql/slave_relay_log_info.ibd
database/mysql/mysql/slave_worker_info.frm
database/mysql/mysql/slave_worker_info.ibd
database/mysql/mysql/slow_log.CSM
database/mysql/mysql/slow_log.CSV
database/mysql/mysql/slow_log.frm
database/mysql/mysql/tables_priv.frm
database/mysql/mysql/tables_priv.MYD
database/mysql/mysql/tables_priv.MYI
database/mysql/mysql/time_zone.frm
database/mysql/mysql/time_zone.ibd
database/mysql/mysql/time_zone_leap_second.frm
database/mysql/mysql/time_zone_leap_second.ibd
database/mysql/mysql/time_zone_name.frm
database/mysql/mysql/time_zone_name.ibd
database/mysql/mysql/time_zone_transition.frm
database/mysql/mysql/time_zone_transition.ibd
database/mysql/mysql/time_zone_transition_type.frm
database/mysql/mysql/time_zone_transition_type.ibd
database/mysql/mysql/user.frm
database/mysql/mysql/user.MYD
database/mysql/mysql/user.MYI
database/mysql/mysqld.log
database/mysql/performance_schema/accounts.frm
database/mysql/performance_schema/cond_instances.frm
database/mysql/performance_schema/db.opt
database/mysql/performance_schema/events_stages_current.frm
database/mysql/performance_schema/events_stages_history.frm
database/mysql/performance_schema/events_stages_history_long.frm
database/mysql/performance_schema/events_stages_summary_by_account_by_event_name.frm
database/mysql/performance_schema/events_stages_summary_by_host_by_event_name.frm
database/mysql/performance_schema/events_stages_summary_by_thread_by_event_name.frm
database/mysql/performance_schema/events_stages_summary_by_user_by_event_name.frm
database/mysql/performance_schema/events_stages_summary_global_by_event_name.frm
database/mysql/performance_schema/events_statements_current.frm
database/mysql/performance_schema/events_statements_history.frm
database/mysql/performance_schema/events_statements_history_long.frm
database/mysql/performance_schema/events_statements_summary_by_account_by_event_name.frm
database/mysql/performance_schema/events_statements_summary_by_digest.frm
database/mysql/performance_schema/events_statements_summary_by_host_by_event_name.frm
database/mysql/performance_schema/events_statements_summary_by_program.frm
database/mysql/performance_schema/events_statements_summary_by_thread_by_event_name.frm
database/mysql/performance_schema/events_statements_summary_by_user_by_event_name.frm
database/mysql/performance_schema/events_statements_summary_global_by_event_name.frm
database/mysql/performance_schema/events_transactions_current.frm
database/mysql/performance_schema/events_transactions_history.frm
database/mysql/performance_schema/events_transactions_history_long.frm
database/mysql/performance_schema/events_transactions_summary_by_account_by_event_name.frm
database/mysql/performance_schema/events_transactions_summary_by_host_by_event_name.frm
database/mysql/performance_schema/events_transactions_summary_by_thread_by_event_name.frm
database/mysql/performance_schema/events_transactions_summary_by_user_by_event_name.frm
database/mysql/performance_schema/events_transactions_summary_global_by_event_name.frm
database/mysql/performance_schema/events_waits_current.frm
database/mysql/performance_schema/events_waits_history.frm
database/mysql/performance_schema/events_waits_history_long.frm
database/mysql/performance_schema/events_waits_summary_by_account_by_event_name.frm
database/mysql/performance_schema/events_waits_summary_by_host_by_event_name.frm
database/mysql/performance_schema/events_waits_summary_by_instance.frm
database/mysql/performance_schema/events_waits_summary_by_thread_by_event_name.frm
database/mysql/performance_schema/events_waits_summary_by_user_by_event_name.frm
database/mysql/performance_schema/events_waits_summary_global_by_event_name.frm
database/mysql/performance_schema/file_instances.frm
database/mysql/performance_schema/file_summary_by_event_name.frm
database/mysql/performance_schema/file_summary_by_instance.frm
database/mysql/performance_schema/global_status.frm
database/mysql/performance_schema/global_variables.frm
database/mysql/performance_schema/host_cache.frm
database/mysql/performance_schema/hosts.frm
database/mysql/performance_schema/memory_summary_by_account_by_event_name.frm
database/mysql/performance_schema/memory_summary_by_host_by_event_name.frm
database/mysql/performance_schema/memory_summary_by_thread_by_event_name.frm
database/mysql/performance_schema/memory_summary_by_user_by_event_name.frm
database/mysql/performance_schema/memory_summary_global_by_event_name.frm
database/mysql/performance_schema/metadata_locks.frm
database/mysql/performance_schema/mutex_instances.frm
database/mysql/performance_schema/objects_summary_global_by_type.frm
database/mysql/performance_schema/performance_timers.frm
database/mysql/performance_schema/prepared_statements_instances.frm
database/mysql/performance_schema/replication_applier_configuration.frm
database/mysql/performance_schema/replication_applier_status.frm
database/mysql/performance_schema/replication_applier_status_by_coordinator.frm
database/mysql/performance_schema/replication_applier_status_by_worker.frm
database/mysql/performance_schema/replication_connection_configuration.frm
database/mysql/performance_schema/replication_connection_status.frm
database/mysql/performance_schema/replication_group_member_stats.frm
database/mysql/performance_schema/replication_group_members.frm
database/mysql/performance_schema/rwlock_instances.frm
database/mysql/performance_schema/session_account_connect_attrs.frm
database/mysql/performance_schema/session_connect_attrs.frm
database/mysql/performance_schema/session_status.frm
database/mysql/performance_schema/session_variables.frm
database/mysql/performance_schema/setup_actors.frm
database/mysql/performance_schema/setup_consumers.frm
database/mysql/performance_schema/setup_instruments.frm
database/mysql/performance_schema/setup_objects.frm
database/mysql/performance_schema/setup_timers.frm
database/mysql/performance_schema/socket_instances.frm
database/mysql/performance_schema/socket_summary_by_event_name.frm
database/mysql/performance_schema/socket_summary_by_instance.frm
database/mysql/performance_schema/status_by_account.frm
database/mysql/performance_schema/status_by_host.frm
database/mysql/performance_schema/status_by_thread.frm
database/mysql/performance_schema/status_by_user.frm
database/mysql/performance_schema/table_handles.frm
database/mysql/performance_schema/table_io_waits_summary_by_index_usage.frm
database/mysql/performance_schema/table_io_waits_summary_by_table.frm
database/mysql/performance_schema/table_lock_waits_summary_by_table.frm
database/mysql/performance_schema/threads.frm
database/mysql/performance_schema/user_variables_by_thread.frm
database/mysql/performance_schema/users.frm
database/mysql/performance_schema/variables_by_thread.frm
database/mysql/sys/db.opt
database/mysql/sys/host_summary.frm
database/mysql/sys/host_summary_by_file_io.frm
database/mysql/sys/host_summary_by_file_io_type.frm
database/mysql/sys/host_summary_by_stages.frm
database/mysql/sys/host_summary_by_statement_latency.frm
database/mysql/sys/host_summary_by_statement_type.frm
database/mysql/sys/innodb_buffer_stats_by_schema.frm
database/mysql/sys/innodb_buffer_stats_by_table.frm
database/mysql/sys/innodb_lock_waits.frm
database/mysql/sys/io_by_thread_by_latency.frm
database/mysql/sys/io_global_by_file_by_bytes.frm
database/mysql/sys/io_global_by_file_by_latency.frm
database/mysql/sys/io_global_by_wait_by_bytes.frm
database/mysql/sys/io_global_by_wait_by_latency.frm
database/mysql/sys/latest_file_io.frm
database/mysql/sys/memory_by_host_by_current_bytes.frm
database/mysql/sys/memory_by_thread_by_current_bytes.frm
database/mysql/sys/memory_by_user_by_current_bytes.frm
database/mysql/sys/memory_global_by_current_bytes.frm
database/mysql/sys/memory_global_total.frm
database/mysql/sys/metrics.frm
database/mysql/sys/processlist.frm
database/mysql/sys/ps_check_lost_instrumentation.frm
database/mysql/sys/schema_auto_increment_columns.frm
database/mysql/sys/schema_index_statistics.frm
database/mysql/sys/schema_object_overview.frm
database/mysql/sys/schema_redundant_indexes.frm
database/mysql/sys/schema_table_lock_waits.frm
database/mysql/sys/schema_table_statistics.frm
database/mysql/sys/schema_table_statistics_with_buffer.frm
database/mysql/sys/schema_tables_with_full_table_scans.frm
database/mysql/sys/schema_unused_indexes.frm
database/mysql/sys/session.frm
database/mysql/sys/session_ssl_status.frm
database/mysql/sys/statement_analysis.frm
database/mysql/sys/statements_with_errors_or_warnings.frm
database/mysql/sys/statements_with_full_table_scans.frm
database/mysql/sys/statements_with_runtimes_in_95th_percentile.frm
database/mysql/sys/statements_with_sorting.frm
database/mysql/sys/statements_with_temp_tables.frm
database/mysql/sys/sys_config.frm
database/mysql/sys/sys_config.ibd
database/mysql/sys/sys_config.TRG
database/mysql/sys/sys_config_insert_set_user.TRN
database/mysql/sys/sys_config_update_set_user.TRN
database/mysql/sys/user_summary.frm
database/mysql/sys/user_summary_by_file_io.frm
database/mysql/sys/user_summary_by_file_io_type.frm
database/mysql/sys/user_summary_by_stages.frm
database/mysql/sys/user_summary_by_statement_latency.frm
database/mysql/sys/user_summary_by_statement_type.frm
database/mysql/sys/version.frm
database/mysql/sys/wait_classes_global_by_avg_latency.frm
database/mysql/sys/wait_classes_global_by_latency.frm
database/mysql/sys/waits_by_host_by_latency.frm
database/mysql/sys/waits_by_user_by_latency.frm
database/mysql/sys/waits_global_by_latency.frm
database/mysql/sys/x@0024host_summary.frm
database/mysql/sys/x@0024host_summary_by_file_io.frm
database/mysql/sys/x@0024host_summary_by_file_io_type.frm
database/mysql/sys/x@0024host_summary_by_stages.frm
database/mysql/sys/x@0024host_summary_by_statement_latency.frm
database/mysql/sys/x@0024host_summary_by_statement_type.frm
database/mysql/sys/x@0024innodb_buffer_stats_by_schema.frm
database/mysql/sys/x@0024innodb_buffer_stats_by_table.frm
database/mysql/sys/x@0024innodb_lock_waits.frm
database/mysql/sys/x@0024io_by_thread_by_latency.frm
database/mysql/sys/x@0024io_global_by_file_by_bytes.frm
database/mysql/sys/x@0024io_global_by_file_by_latency.frm
database/mysql/sys/x@0024io_global_by_wait_by_bytes.frm
database/mysql/sys/x@0024io_global_by_wait_by_latency.frm
database/mysql/sys/x@0024latest_file_io.frm
database/mysql/sys/x@0024memory_by_host_by_current_bytes.frm
database/mysql/sys/x@0024memory_by_thread_by_current_bytes.frm
database/mysql/sys/x@0024memory_by_user_by_current_bytes.frm
database/mysql/sys/x@0024memory_global_by_current_bytes.frm
database/mysql/sys/x@0024memory_global_total.frm
database/mysql/sys/x@0024processlist.frm
database/mysql/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
database/mysql/sys/x@0024ps_digest_avg_latency_distribution.frm
database/mysql/sys/x@0024ps_schema_table_statistics_io.frm
database/mysql/sys/x@0024schema_flattened_keys.frm
database/mysql/sys/x@0024schema_index_statistics.frm
database/mysql/sys/x@0024schema_table_lock_waits.frm
database/mysql/sys/x@0024schema_table_statistics.frm
database/mysql/sys/x@0024schema_table_statistics_with_buffer.frm
database/mysql/sys/x@0024schema_tables_with_full_table_scans.frm
database/mysql/sys/x@0024session.frm
database/mysql/sys/x@0024statement_analysis.frm
database/mysql/sys/x@0024statements_with_errors_or_warnings.frm
database/mysql/sys/x@0024statements_with_full_table_scans.frm
database/mysql/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
database/mysql/sys/x@0024statements_with_sorting.frm
database/mysql/sys/x@0024statements_with_temp_tables.frm
database/mysql/sys/x@0024user_summary.frm
database/mysql/sys/x@0024user_summary_by_file_io.frm
database/mysql/sys/x@0024user_summary_by_file_io_type.frm
database/mysql/sys/x@0024user_summary_by_stages.frm
database/mysql/sys/x@0024user_summary_by_statement_latency.frm
database/mysql/sys/x@0024user_summary_by_statement_type.frm
database/mysql/sys/x@0024wait_classes_global_by_avg_latency.frm
database/mysql/sys/x@0024wait_classes_global_by_latency.frm
database/mysql/sys/x@0024waits_by_host_by_latency.frm
database/mysql/sys/x@0024waits_by_user_by_latency.frm
database/mysql/sys/x@0024waits_global_by_latency.frm
database/mysql/ibtmp1
database/mysql/DESKTOP-AGACNQI.pid

database/mysql/LAPTOP-RDR3E7AO.err

database/mysql/LAPTOP-RDR3E7AO.pid
