.RenBlock_Style {
    display: flex;
    width: min-content;
    height: min-content;
    margin: 30px;
    background-color: brown;
    border-radius: 5px;
    text-align: center;
    color: wheat;
    font-weight: bold;
}

.RenBlock_Style:hover {
    background-color: wheat;
    color: black;
}

.RenBlock_Auto {
    /* display: block; */
    width: auto;
    height: auto;
}

.RenBlock_Auto p {
    margin: auto;
}

.RenBlock_Small {
    /* display: block; */
    width: 100px;
    height: 100px;
}

.RenBlock_Small p {
    margin: auto;
}

.RenBlock_Medium {
    /* display: block; */
    width: 300px;
    height: 300px;
}

.RenBlock_Medium p {
    margin: auto;
}

.RenBlock_Large {
    /* display: block; */
    width: 500px;
    height: 500px;
}

.RenBlock_Large p {
    margin: auto;
}